In [2]:
# lets import all required libraries 

import selenium                                  # Library that is used to work with seleniufrom selenium import webdriver   
from selenium import webdriver                   # importing webdriver module for selenium to open automated chrome widow
import pandas as pd                              # to creat dataframe
from selenium.webdriver.common.by import By      # Importing inbuilt class By
import warnings 
warnings.filterwarnings('ignore')
import time

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [16]:
driver = webdriver.Chrome()      # opening chrome empty broswer

In [17]:
# opening the naukri page on automated chrome browser

driver.get('https://www.shine.com/')

In [19]:
# For job title 
designation = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input') 
designation.send_keys('Data Analyst')

In [20]:
# For location 

Location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
Location.send_keys('Bangalore')

In [21]:
# For searching your job title and location 

search_job = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search_job.click()

In [22]:
# creating empty variable 

job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [23]:
# Scraping Job title from the given page
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [24]:
# scrapping Job Location from the given page
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [25]:
# scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [26]:
# Scraping Job Experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [27]:
print(len(job_title), len(job_location), len(company_name), len(experience_required))

10 10 10 10

In [28]:
# importing pandas to creat DataFrame
import pandas as pd 
df = pd.DataFrame({'Title': job_title, 'Location': job_location, 'Company Name': company_name, 'Experience':experience_required})

df

,Title,Location,Company Name,Experience
0,Project Coordinator (Data Analyst),Bangalore,futures and careers,2 to 4 Yrs
1,Project Coordinator (Data Analyst),Bangalore,futures and careers,2 to 4 Yrs
2,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
3,Hiring For Data Analyst,Bangalore\n+14,kavya staffing solutions,0 to 4 Yrs
4,Senior Data Analyst,Bangalore,ara resources private limited,2 to 5 Yrs
5,Data Analyst,Bangalore\n+9,ashutosh sabhashankar chaturvedi hi...,7 to 12 Yrs
6,Data Analyst Urgent Recruiment,Bangalore\n+14,divya interprises,0 to 4 Yrs
7,Apply Now a Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
8,Apply Now Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
9,Needed for Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs

# # Q2:Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter thelocation” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [29]:
driver = webdriver.Chrome()      # opening chrome empty broswer

In [30]:
driver.get('https://www.shine.com/')

In [32]:
# For job title 
designation = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input') 
designation.send_keys('Data Scientist')

In [33]:
# for job location  
Location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
Location.send_keys('Bangalore')

In [34]:
# For searching your job title and location 

search_job = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search_job.click()

In [35]:
# creating empty variable 

job_title_4ds=[]
job_location_4ds=[]
company_name_4ds=[]
experience_required_4ds=[]

In [36]:
# Scraping Job title (Data Sciencetist) from the given page
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    job_title_4ds.append(title)

In [37]:
# scrapping Job Location for Data Sciencetist from the given page
location_tags_ds=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags_ds[0:10]:
    location=i.text
    job_location_4ds.append(location)

In [38]:
# scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name_4ds.append(company)

In [39]:
# Scraping Job Experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required_4ds.append(exp)

In [40]:
print(len(job_title_4ds), len(job_location_4ds), len(company_name_4ds), len(experience_required_4ds))

10 10 10 10

In [41]:
# importing pandas to creat DataFrame
import pandas as pd 
df_4ds = pd.DataFrame({'Title': job_title_4ds, 'Location': job_location_4ds, 'Company Name': company_name_4ds, 'Experience':experience_required_4ds})

df_4ds

,Title,Location,Company Name,Experience
0,Hiring For Data Scientist,Bangalore\n+17,kavya staffing solutions,0 to 4 Yrs
1,Data Scientist,Bangalore,skyleaf consultants,5 to 10 Yrs
2,Pharmacovigilance Scientist - pune,Bangalore\n+4,quiscon biotech hiring for none,0 to 1 Yr
3,Pharmacovigilance Scientist - Mumbai,Bangalore\n+4,quiscon biotech hiring for none,0 to 1 Yr
4,Pharmacovigilance Scientist - Hyderabad,Bangalore\n+4,quiscon biotech,0 to 1 Yr
5,Pharmacovigilance Scientist - Chennai,Bangalore\n+4,quiscon biotech,0 to 1 Yr
6,Pharmacovigilance Scientist - Bangalore,Bangalore\n+4,quiscon biotech,0 to 1 Yr
7,Data Scientist Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
8,Requirement English Handwriting DATA Entry Ope...,Bangalore\n+9,v-tech data outsourcing,0 to 2 Yrs
9,"Home based work for Ms excel,Data Entry Execut...",Bangalore\n+18,v-tech data outsourcing,0 to 2 Yrs

# # Q3: In this question you have to scrape data using the filters available on the webpage 
 You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.shine.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scrapeddata.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [2]:
driver = webdriver.Chrome()      # opening chrome empty broswer

In [ ]:
# opening the naukri page on automated chrome browser

driver.get('https://www.shine.com/')

In [ ]:
# For job title 
designation = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input') 
designation.send_keys('Data Scientist', 'Companies')

In [ ]:
# For searching your job title and location 

search_job = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search_job.click()

In [ ]:
# Search location to access Dehli
location=driver.find_element(By.XPATH,'//li[@class="filter_filter_lists_items__wlFfo"]')
location.click()

In [ ]:
# for job location  
delhi_location = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[8]/span/label')
delhi_location.send_keys('Delhi')

In [ ]:
# creating empty variable 

job_title_4ds_dh=[]
job_location_4ds_dh=[]
comp_name_4ds_dh=[]
exp_req_4ds_dh=[]

In [ ]:
# Scraping Job title (Data Sciencetist) from the given page
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    job_title_4ds_dh.append(title)

# # Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6. Brand
7. ProductDescription
8. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search fieldwhere “search for products, brands and more” is written and
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search fieldwhere “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [4]:
driver = webdriver.Edge()      # opening chrome empty broswer

In [5]:
# opening the naukri page on automated chrome browser

driver.get('https://www.flipkart.com/')

In [7]:
# For Product title 
product = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input') # Search field code
product.send_keys('sunglasses') # searching sunglasses

In [8]:
# For searching your sunglasses

search_sunglasses = driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_sunglasses.click()

In [9]:
 # Scraping these four attribute 
brand_names=[]
product_description=[]
price=[]
discount=[]

In [10]:
# Scraping for Brand 
brand_names=[]

In [11]:
start=0
end=3

for page in range(start, end):
    brands = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]' )
    
    for i in brands[0:100]:
        brand_names.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [12]:
print(len(brand_names))

120

In [13]:
import pandas as pd 
df = pd.DataFrame({'Brands': brand_names})
df

             Brands
0     VINCENT CHASE
1      Singco India
2              SRPM
3            PIRASO
4         Elligator
..              ...
115  ROZZETTA CRAFT
116   VINCENT CHASE
117   VINCENT CHASE
118  ROZZETTA CRAFT
119      iCopertina

[120 rows x 1 columns]

In [14]:
product_description=[]

In [15]:
# Scraping  product description in web page 

start=0
end=3

for page in range(start, end):
    product_descrpt_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]' )
    
    for i in  product_descrpt_tags [0:100]:
        product_description.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [19]:
df = pd.DataFrame({'Product Description': product_description })
df

                                   Product Description
0               UV Protection Wayfarer Sunglasses (59)
1    by Lenskart Polarized, UV Protection Wayfarer ...
2       UV Protection Spectacle Sunglasses (Free Size)
3         UV Protection Aviator Sunglasses (Free Size)
4    Polarized, UV Protection Wayfarer Sunglasses (61)
..                                                 ...
108  Gradient, UV Protection Wayfarer Sunglasses (F...
109  UV Protection, Polarized Rectangular Sunglasse...
110     Polarized, UV Protection Round Sunglasses (50)
111  Mirrored, UV Protection Wayfarer Sunglasses (F...
112  Polarized, UV Protection Retro Square Sunglass...

[113 rows x 1 columns]

In [17]:
price=[]

In [18]:
# Scraping  price  in web page 

start=0
end=3

for page in range(start, end):
    product_price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]' )
    
    for i in   product_price[0:100]:
        price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [21]:
df = pd.DataFrame({'Price': price})
df.head(100)

   Price
0   ₹899
1   ₹883
2   ₹204
3   ₹239
4   ₹179
..   ...
95  ₹594
96  ₹883
97  ₹502
98  ₹495
99  ₹294

[100 rows x 1 columns]

In [25]:
# Scraping  Discount  in web page 

discount=[]
start=0
end=3

for page in range(start, end):
    discount_items = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]' )
    
    for i in   discount_items[0:100]:
        discount.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [26]:
df = pd.DataFrame({'Discount': discount})
df.head(100)

   Discount
0   55% off
1   81% off
2   84% off
3   85% off
4   70% off
..      ...
95  64% off
96  50% off
97  77% off
98  47% off
99  85% off

[100 rows x 1 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [27]:
driver = webdriver.Edge()      # opening chrome empty broswer

In [39]:
# opening the naukri page on automated chrome browser

driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')

In [29]:
# Scraping Rating in web page 

Rating=[]
start=0
end=10
for page in range(start,end):
    rating_items=driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_items[0:100]:
        Rating.append(i.text)
next_button=driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')                  #  To scrap data from next page
next_button.click()
time.sleep(3)

In [30]:
print(len(Rating))

100

In [31]:
df = pd.DataFrame({'Rating': Rating})
df.head(100)

   Rating
0       5
1       5
2       5
3       5
4       5
..    ...
95      5
96      5
97      5
98      5
99      5

[100 rows x 1 columns]

In [32]:
Review_summary=[]
start=0
end=10
for page in range(start,end):
    review_items=driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
    for i in review_items[0:100]:
        Review_summary.append(i.text)
next_button=driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')                  #  To scrap data from next page
next_button.click()
time.sleep(3)

In [33]:
print(len(Review_summary))

100

In [34]:
df = pd.DataFrame({'Review Summary': Review_summary})
df.head(100)

         Review Summary
0             Must buy!
1         Great product
2       Worth the money
3             Must buy!
4             Brilliant
..                  ...
95    Terrific purchase
96            Brilliant
97            Fabulous!
98            Excellent
99  Best in the market!

[100 rows x 1 columns]

In [35]:
Full_review=[]
start=0
end=10
for page in range(start,end):
    full_review_items=driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
    for i in full_review_items[0:100]:
        Full_review.append(i.text)
next_button=driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')                  #  To scrap data from next page
next_button.click()
time.sleep(3)

In [36]:
print(len(Full_review))

100

In [38]:
df = pd.DataFrame({'Full Review ': Full_review})
df.head(100)

                                         Full Review
0                                   Value for money 😍
1                                        Photos super
2                                      Very very good
3   Camera is awesome\nBest battery backup\nA perf...
4                              This is amazing at all
..                                                ...
95                                  Perfect Product!!
96  Feeling awesome after getting the delivery of ...
97                                         V Good all
98                                        Good Camera
99                    Super🔥 and good performance 👌❤️

[100 rows x 1 columns]

# Q6: Scrape data forfirst 100 sneakers you find whenyou visit flipkart.com and search for “sneakers” inthe
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

In [110]:
driver = webdriver.Edge()      # opening chrome empty broswer

In [111]:
# opening the flipkart page on automated chrome browser

driver.get('https://www.flipkart.com/')

In [112]:

# For Product Title
product = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input') # Search field code
product.send_keys('sneakers') # To input sneakers at the search fiel

In [114]:
# For searching your sunglasses

search_sunglasses = driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_sunglasses.click()

In [115]:
# Scraping Brand in web page 

Brand=[]
start=0
end=3
for page in range(start,end):
    brand_items=driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in brand_items[0:100]:
        Brand.append(i.text)
next_button=driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')                  #  To scrap data from next page
next_button.click()
time.sleep(3)

In [116]:
print(len(Brand))

120

In [117]:
df = pd.DataFrame({'Brand ': Brand})
df.head(100)

           Brand
0             SFR
1             SFR
2          BRUTON
3        Nobelite
4            PUMA
..            ...
95          Sparx
96  WHITE WALKERS
97            SFR
98     Free Kicks
99           PUMA

[100 rows x 1 columns]

In [118]:
# Scraping Product Description in web page 

ProductDescription=[]
start=0
end=3
for page in range(start,end):
    desp_items=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in desp_items[0:100]:
        ProductDescription.append(i.text)
next_button=driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')                  #  To scrap data from next page
next_button.click()
time.sleep(3)

In [119]:
df = pd.DataFrame({'Product Description ': ProductDescription })
df.head(100)

                                 Product Description
0       black shoes for men and boys Sneakers For Men
1   Casual Sneakers ColourFul Block Shoes For Boys...
2                                    Sneakers For Men
3                              Caven Sneakers For Men
4                                    Sneakers For Men
..                                                ...
95                                   Sneakers For Men
96               Spring Edge Alpha 1 Sneakers For Men
97                                   Sneakers For Men
98                         Hustle V2 Sneakers For Men
99  New Fashion Outdoor Trendy Lightweight Casual,...

[100 rows x 1 columns]

In [120]:
# scraping Price tags from web page
Price=[]
start=0
end=3
for page in range(start,end):
    price_items=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_items[0:100]:
        Price.append(i.text)
next_button=driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')                  #  To scrap data from next page
next_button.click()
time.sleep(3)

In [121]:
print(len(Price))

120

In [122]:
df = pd.DataFrame({'Product Price ': Price })
df.head(100)

   Product Price
0            ₹299
1            ₹349
2            ₹379
3            ₹299
4          ₹2,399
..            ...
95           ₹562
96           ₹599
97           ₹349
98           ₹599
99         ₹1,508

[100 rows x 1 columns]

# Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [93]:
driver = webdriver.Edge()      # opening chrome empty broswer

In [94]:
# opening the amazon page on automated chrome browser

driver.get('https://www.amazon.in/')

In [95]:
# For Product Title
product = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input') # Search field code
product.send_keys('Laptop') # To input sneakers at the search field

In [96]:
# For searching your Laptop

search_sunglasses = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div")
search_sunglasses.click()

In [97]:
Product=[]
Product_Rating=[]
Price=[]

In [98]:
# Scraping product from the given page
product_title=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in product_title[0:10]:
    title=i.text
    Product.append(title)

In [105]:
print(len(Product))

10

In [99]:
# scrapping rating from the given page
item_rating=driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in item_rating[0:10]:
    item=i.text
    Product_Rating.append(item)

In [108]:
print(len(Product_Rating))

10

In [100]:
# scraping price name from the given page
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price"]')
for i in price_tags[0:10]:
    tag=i.text
    Price.append(tag)

In [109]:
print(len(Price))

10

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [4]:
driver = webdriver.Edge()      # opening Edge empty broswer

In [5]:
#Opening the amazon.in page on automated chrome broswer
driver.get("https://www.azquotes.com/")

In [22]:
# Searching for Top Quotes 

search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
search.click()

In [8]:
# Scraping TopQuotes from the web page 

TopQuote = []
start=0
end=10
for page in range(start,end):
    quotes=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quotes[0:1000]:
        TopQuote.append(i.text)
next_button=driver.find_element(By.XPATH, '//li[@class="next"]')                  #  To scrap data from next page
next_button.click()
time.sleep(3)

In [10]:
print(len(TopQuote))

1000

In [19]:
# Scraping Author from web page 

Author = []
start=0
end=10
for page in range(start,end):
    top_author=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in top_author[0:1000]:
        Author.append(i.text)
next_button=driver.find_element(By.XPATH, '//li[@class="next"]')                  #  To scrap data from next page
next_button.click()
time.sleep(3)

In [20]:
print(len(Author))

1000

In [24]:
type_of_quote = []
start=0
end=10
for page in range(start,end):
    ty_quote_tag=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in ty_quote_tag[0:1000]:
        type_of_quote.append(i.text)
next_button=driver.find_element(By.XPATH, '//li[@class="next"]')                  #  To scrap data from next page
next_button.click()
time.sleep(3)

In [25]:
print(len(type_of_quote))

1000

In [26]:
df=pd.DataFrame({'QUOTES': TopQuote,'AUTHOR':Author, 'QUOTE_TYPE':type_of_quote})
df

,QUOTES,AUTHOR,QUOTE_TYPE
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

# Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,Term of office, Remarks) from https://www.jagranjosh.com/.

This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [35]:
driver = webdriver.Edge()      # opening Edge empty broswer

In [36]:
 # Opening the https://www.jagranjosh.com/ page on automated chrome broswer
    
driver.get("https://www.jagranjosh.com/")

In [37]:
# Searching for GK 

search=driver.find_element(By.XPATH,'/html/body/div/header/nav/div/div/div[3]/ul/li[3]/a')
search.click()

In [38]:
# List of all Prime Ministers of India 
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
search.click()

In [43]:
# scraping price name from the given page

pm_names=[]
names_tag=driver.find_elements(By.XPATH,'//a[@rel="noopener noreferrer nofollow"]')
for i in names_tag:
    tag=i.text
    pm_names.append(tag)

# Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [45]:
driver = webdriver.Edge()      # opening Edge empty broswer

In [46]:
 # Opening the https://www.motor1.com/page on automated chrome broswer
    
driver.get("https://www.motor1.com/")

In [47]:
# For Product Title
product = driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input') # Search field code
product.send_keys('50 most expensive cars') # To input 50 most expensice cars  at the search field

In [48]:
# Searching for 50 most expensive cars

search=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search.click()

In [49]:
# List of 50 most expensive cars in the world 
search=driver.find_element(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
search.click()

In [50]:
# scraping Cars name from the given page
cars_name=[]
cars_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in cars_tags[0:50]:
    tag=i.text
    cars_name.append(tag)

In [51]:
print(len(cars_name))

50

In [71]:
df= pd.DataFrame({'Cars Name': cars_name})
df

                             Cars Name
0                  Aston Martin Valour
1                         McLaren Elva
2                          Czinger 21C
3                        Ferrari Monza
4                   Gordon Murray T.33
5                    Koenigsegg Gemera
6                          Zenvo TSR-S
7                   Hennessey Venom F5
8                      Bentley Bacalar
9        Hispano Suiza Carmen Boulogne
10              Bentley Mulliner Batur
11                        Deus Vayanne
12                         SSC Tuatara
13                         Lotus Evija
14                 Aston Martin Vulcan
15                          Delage D12
16                 Ferrari Daytona SP3
17                   McLaren Speedtail
18                        Rimac Nevera
19                       Pagani Utopia
20                Pininfarina Battista
21                  Gordon Murray T.50
22                Lamborghini Countach
23            Mercedes-AMG Project One
24                        Zenvo Aurora
25                 Aston Martin Victor
26         Hennessey Venom F5 Roadster
27                    Koenigsegg Jesko
28               Aston Martin Valkyrie
29           W Motors Lykan Hypersport
30                       McLaren Solus
31                    Lamborghini Sian
32                    Koenigsegg CC850
33     Bugatti Chiron Super Sport 300+
34                  Lamborghini Veneno
35                      Bugatti Bolide
36           Pininfarina B95 Speedster
37                     Bugatti Mistral
38                 Pagani Huayra Imola
39                        Bugatti Divo
40                 SP Automotive Chaos
41                    Pagani Codalunga
42                        777 Hypercar
43            Mercedes-Maybach Exelero
44                  Bugatti Centodieci
45             Bugatti Chiron Profilée
46                Rolls-Royce Sweptail
47            Bugatti La Voiture Noire
48              Rolls-Royce Boat Tail*
49  Rolls-Royce La Rose Noire Droptail